<?xml version='1.0' encoding='utf-8'?>
<feed xmlns='http://www.w3.org/2005/Atom'>
<id>{{ home_page_url }}/</id>
<title>{{ title }}</title>
<subtitle>{{ description }}</subtitle>
<link href='{{ home_page_url }}'/>
<link rel='self' href='{{ home_page_url }}/feed.atom'/>
<updated>{{ _generated }}</updated>
{% for item in items | sort(attribute='date_published', reverse=True) %}
<entry>
<title>{{ item.title }}</title>
<id>{{ item.id }}</id>
<link href='{{ item.url }}'/>
{%- for tag in item.tags %}
<category term="{{ tag }}"/>
{%- endfor %}
<summary>{{ item.summary }}</summary>
<updated>{{ item.date_modified }}</updated>
<author><name>{{ item.author and item.author.name or author.name }}</name></author>
</entry>
{% endfor %}
</feed>
