<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='utf-8' />
<meta name='author' content='{{ author.name }}' />
{%- if page and page.tags %}
<meta name='keywords' content='{{ page.tags | join(",")}}' />
{%- endif %}
<meta name='viewport' content='width=device-width, initial-scale=1' />
<link rel='alternate' title='JSON Feed' type='application/json' href='{{ home_page_url }}/feed.json' />
<link rel='alternate' title='Atom Feed' type='application/atom+xml' href='{{ home_page_url }}/feed.atom' />
<link rel='stylesheet' type='text/css' href='{{ home_page_url }}/style.css' />
<title>{{ page and page.title or title }}</title>
</head>

<body>
<div id='container'>
{%- if page %}
<div id='content'>
{{ page.content_html }}
<p class='date'>{{ page.date_published }}, {{ page.author and page.author.name or author.name }}</p>
</div>
{%- endif %}

<div id='{{ page and "nav" or "index" }}'>
<a href='{{ home_page_url }}'>Home</a>
{% for item in items | sort(attribute='date_published', reverse=True) %}
<div class='item'>
<h1><a href='{{ item.url }}'>{{ item.title }}</a></h1>
{%- if not content %}
<p>{{ item.summary }}</p>
<p>Published: {{ item.date_published }}</p>
<p>Modified: {{ item.date_modified }}</p>
{%- endif %}
</div>
{% endfor %}
<div class='item'>
<h1>Feeds</h1>
<a href='{{ home_page_url }}/feed.json'>JSON</a>
<a href='{{ home_page_url }}/feed.atom'>Atom</a>
</div>
</div>
</div>
</body>
</html>
